
---MAIN---

body {
    margin: 0;
    background-color: #a5b58d;
}


.main-page #container {
    display: grid;
    height: 100vh;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr 50px;
    grid-template-areas: 
        'hd hd hd hd'
        'as nv nv se'
        'as m1 m2 se'
        'ft ft ft ft';
}

.main-page footer {
    grid-area: ft;
    background-color:  #f6efe8;
}

.main-page header{
    grid-area: hd;
    background-color: #b58b63;
    text-align: center;
    
}
.main-page aside{
    grid-area: as;
    overflow: hidden;  
    border-radius: 0 10px 10px 0;
}

.main-page .main1 {
    grid-area: m1;
    border-radius: 10px;
    padding: 24px;
    line-height: 1.618;
    background-color: #f6efe8;
}

.main-page .main2 {
    grid-area: m2;
    border-radius: 10px;
    padding: 24px;
    line-height: 1.618;
    background-color: #f6efe8;
}

.main-page section{
    grid-area: se;
    overflow: hidden;  
    border-radius: 10px 0 0 10px;
}
.main-page nav{
    grid-area: nv;
    background-color: #f6efe8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    border-radius: 10px;
}





.main-page aside img {
    width: 100%;               
    height: 100%;             
    object-fit: cover;        
}

.main-page section img {
    width: 100%;               
    height: 100%;             
    object-fit: cover;         
}

 
.main-page nav {
    width: 100%;

}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 120px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.nav-list a {
    display: block;
    width: 100%;
    color: white;
    padding: 10px;
    padding-left: 90px;
    padding-right: 90px;
    background: rgba(0, 0, 0, 0.15);
    text-decoration: none;
    border-radius: 15px;
}

.nav-list a:hover {

    background: rgba(0, 0, 0, 0.25);
}

---MENU---

.main-page body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a5b58d;


}

.menu-page #container {
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    height: 100vh;
    gap: 10px;
}

.menu-page header {
    grid-area: header;
    background-color: #b58b63;
    text-align: center;
}

.menu-page nav {
    grid-area: nav;
    background-color: #f6efe8;
    display: flex;
    justify-content: center; 
    align-items: center;   
    
}

.menu-page main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.menu-item {
    background-color: #f6efe8;
}

.menu-page footer {
    grid-area: footer;
    background-color: #f6efe8;
}

.menu-page nav a {
    padding: 4px 24px;
    font-size: 24px;    
    border-radius: 5px; 
    margin-right: 5px;
    margin-left: 5px;
}

.menu-page .nav-list {
    display: flex;
    justify-content: center; 
    gap: 175px; 
}

.menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    line-height: 1.618;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

---KONTAKT---


* { box-sizing: border-box; }


.kontakt-page {
    display: grid;
    height: 100vh;
    gap: 10px;
    background-color: #a5b58d;
    padding: 10px;
    font-family: Arial, sans-serif;
    grid-template-rows: 80px 50px 1fr 60px;
    grid-template-columns: 180px 1fr 1fr 180px;
    grid-template-areas: 
        "header header header header"
        "leftnav nav nav rightnav"
        "leftnav main sidebar rightnav"
        "footer footer footer footer";
}


.kontakt-page header, .kontakt-page nav, .kontakt-page main, .kontakt-page aside, .kontakt-page footer, .kontakt-page .side-pillar {
    background-color: #f6efe8;
    display: flex;
    align-items: center;


    justify-content: center;

    font-weight: bold;
}


.kontakt-page header { grid-area: header; background-color: #f6efe8; }
.kontakt-page nav    { grid-area: nav;    background-color: #f6efe8; }
.kontakt-page footer { grid-area: footer; background-color: #f6efe8; }

.kontakt-page main   { grid-area: main; }
.kontakt-page aside  { grid-area: sidebar; }


.kontakt-page .left-col  { grid-area: leftnav; background-color: #f6efe8; }

.kontakt-page .right-col { grid-area: rightnav; background-color: #f6efe8; }

.about-page main { background-color: #f6efe8; }

.kontakt-page .left-col img {
    width: 180px;  
    height: 500px; 
}

.kontakt-page nav {
    display: flex;
    gap: 450px;
    gap: min(450px, 20vw);
}

.kontakt-page header {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    text-align: center;     
}

.kontakt-page header h1 {
    font-size: 50px;         
    font-weight: bold;
    margin: 0;               
}