body{
    display: grid;
    margin: 0;
    background-color: rgb(77, 161, 161);
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 100px 100px 100px;
    grid-template-areas: 
        'hd hd hd hd'
        'as ma ma se'
        'as ma ma se'
        'ft ft ft ft';
}

footer {
    grid-area: ft;
    background-color: darkgray;
}

header{
    grid-area: hd;
    background-color: aqua;
}
aside{
    grid-area: as;
    background-color: blue;
}
main{
    grid-area: ma;
    background-color: brown;
    height: 100vh;
}
section{
    grid-area: se;
    background-color: cadetblue;
}
