body{
    display: grid;
    margin: 0;
    background-color: #a5b58d

 
}

#container {
    display: grid;
    height: 100vh;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr 50px;
    grid-template-areas: 
        'hd hd hd hd'
        'as nv nv se'
        'as m1 m2 se'
        'ft ft ft ft';
}

footer {
    grid-area: ft;
    background-color: #b58b63;
}

header{
    grid-area: hd;
    background-color: #b58b63;
    text-align: center;
    
}
aside{
    grid-area: as;
    background-color: blue;
    overflow: hidden;  
    border-radius: 0 10px 10px 0;
}
main1{
    grid-area: m1;
    border-radius: 10px;
      padding: 24px;
      line-height: 1.618;
      background-color: #f6efe8;
   
}

main2{
    grid-area: m2;
    border-radius: 10px;
    padding: 24px;
    line-height: 1.618;
    background-color: #f6efe8;
   
}

section{
    grid-area: se;
    background-color: cadetblue;
    overflow: hidden;  
    border-radius: 10px 0 0 10px;
}
nav{
    grid-area: nv;
    background-color: #f6efe8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    border-radius: 10px;
}





aside img {
    width: 100%;               
    height: 100%;             
    object-fit: cover;        
}

section img {
    width: 100%;               
    height: 100%;             
    object-fit: cover;         
}

 
nav {
    width: 100%;

}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 120px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.nav-list a {
    display: block;
    width: 100%;
    color: white;
    padding: 10px;
    padding-left: 90px;
    padding-right: 90px;
    background: rgba(0, 0, 0, 0.15);
    text-decoration: none;
    border-radius: 15px;
}

.nav-list a:hover {

    background: rgba(0, 0, 0, 0.25);
}
