
---MAIN---

body {
    display: grid;
    margin: 0;
    background-color: #a5b58d;

}


.main-page #container {
    display: grid;
    height: 100vh;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px 1fr 50px;
    grid-template-areas: 
        'hd hd hd hd'
        'as nv nv se'
        'as m1 m2 se'
        'ft ft ft ft';
}

.main-page footer {
    grid-area: ft;
    background-color:  #f6efe8;
}

.main-page header{
    grid-area: hd;
    background-color: #b58b63;
    text-align: center;
    
}
.main-page aside{
    grid-area: as;
    overflow: hidden;  
    border-radius: 0 10px 10px 0;
}
.main-page main1{
    grid-area: m1;
    border-radius: 10px;
      padding: 24px;
      line-height: 1.618;
      background-color: #f6efe8;
   
}

.main-page main2{
    grid-area: m2;
    border-radius: 10px;
    padding: 24px;
    line-height: 1.618;
    background-color: #f6efe8;
   
}

.main-page section{
    grid-area: se;
    overflow: hidden;  
    border-radius: 10px 0 0 10px;
}
.main-page nav{
    grid-area: nv;
    background-color: #f6efe8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    border-radius: 10px;
}





.main-page aside img {
    width: 100%;               
    height: 100%;             
    object-fit: cover;        
}

.main-page section img {
    width: 100%;               
    height: 100%;             
    object-fit: cover;         
}

 
.main-page nav {
    width: 100%;

}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 120px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.nav-list a {
    display: block;
    width: 100%;
    color: white;
    padding: 10px;
    padding-left: 90px;
    padding-right: 90px;
    background: rgba(0, 0, 0, 0.15);
    text-decoration: none;
    border-radius: 15px;
}

.nav-list a:hover {

    background: rgba(0, 0, 0, 0.25);
}

---MENU---

.main-page body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a5b58d;


}

.menu-page #container {
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    height: 100vh;
    gap: 10px;
}

.menu-page header {
    grid-area: header;
    background-color: #b58b63;
}

.menu-page nav {
    grid-area: nav;
    background-color: #f6efe8;
    display: flex;
    justify-content: center; 
    align-items: center;   
    
}

.menu-page main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.menu-item {
    background-color: #f6efe8;
}

.menu-page footer {
    grid-area: footer;
    background-color: #f6efe8;
}

.menu-page nav a {
    padding: 4px 24px;
    font-size: 24px;    
    border-radius: 5px; 
    margin-right: 5px;
    margin-left: 5px;
}

.menu-page .nav-list {
    display: flex;
    justify-content: center; 
    gap: 175px; 
}






